html {
    overflow: hidden;
}

body {
    background-color: #242424;
    margin: 0;
    padding: 0;
}

button,
select,
option,
input {
    background-color: #525252;
    color: white;
}

button:disabled,
select:disabled,
option:disabled,
input:disabled {
    background-color: #404040;
    color: #C0C0C0;
}


nav ul {
    display: flex;
    justify-content: space-around;

    padding: 0;
    list-style-type: none;
}

input {
    border: none;
    border-radius: 5px;
}

input[type="checkbox"] {
    appearance: none;

    width: 20px;
    height: 20px;

    border: none;
    border-radius: 3px;

    transition: all 100ms linear;
}

input[type="checkbox"]:checked {
    background-image: url("icons/icon-checked.svg");
    background-color: #0860F2;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"]:checked:disabled {
    background-color: #404040;
}

form input[type="submit"] {
    background-color: #0860F2;
}

label {
    color: white;
}

select,
option {
    appearance: none;

    border: none;
    border-radius: 5px;

    font-size: 15px;

    padding: 3px 5px;
}


.hidden {
    display: none !important;
}

.profiles {
    position: absolute;
    top: 0;

    width: 100vw;
    height: 60px;

    background-color: #373737;
    border-bottom: black solid 1px;
}

.profiles button {
    max-width: 220px;
    height: 30px;

    border: none;
    border-radius: 7px;

    font-size: 15px;

    overflow: hidden;
    text-overflow: ellipsis;

    transition: all 100ms ease-in-out;
}

.profiles button:hover {
    background-color: #707070;
    cursor: pointer;
}

.profiles button.active {
    background-color: #B4B4B4;
    color: black;
    cursor: pointer;
}

.setting-groups-selector {
    position: absolute;
    top: 60px;
    height: calc(100vh - 50px);

    overflow: auto;

    background-color: #323232;

    padding-left: 15px;
    padding-right: 20px;
}

.setting-groups-selector ul {
    flex-direction: column;
}

.setting-groups-selector button {
    font-size: 17px;

    border: none;
    background-color: transparent;
    color: white;
}

.setting-groups-selector li {
    margin-top: 10px;
    border-radius: 7px;
    padding: 5px;
}

.setting-groups-selector li:hover {
    background-color: #525252;
    cursor: pointer;
}

.setting-groups-selector li.selected {
    background-color: #525252;
}

.settings-group {
    position: absolute;
    overflow-x: auto;
    top: 60px;
    left: 180px;
    width: calc(100vw - 230px);
    height: calc(100vh - 60px);
    padding: 25px;
}

.option-group {
    margin-bottom: 15px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #323232;
    border-radius: 15px;

    padding: 12px;
    margin-bottom: 5px;
}

/* Label + toggle groups */
.option div {
    display: flex;
    align-items: center;
}

.option div * {
    margin-right: 10px;
}

.confirm-buttons {
    position: sticky;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.confirm-buttons * {
    margin: 0;
    width: 200px;
    height: 35px;
    font-size: 15px;
}

.confirm-buttons *:hover {
    cursor: pointer;
}

#cpu-form {
    display: flex;
    flex-direction: column;
}

#cpu-form label {
    width: 300px;
}

#cpu-form select {
    width: 170px;
}