* {
    color: white;
}

body {
    background-color: #242424;
}

button,
select,
option,
input {
    background-color: #525252;
}

button:disabled,
select:disabled,
option:disabled,
input:disabled {
    background-color: #404040;
    color: #C0C0C0;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

input {
    border: none;
    border-radius: 5px;
}

input[type="checkbox"] {
    appearance: none;

    width: 20px;
    height: 20px;

    border: none;
    border-radius: 3px;

    transition: all 100ms linear;
}

input[type="checkbox"]:checked {
    background-image: url("icons/icon-checked.svg");
    background-color: #0860F2;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"]:checked:disabled {
    background-color: #404040;
}

input[type="number"] {
    appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}


form input[type="submit"] {
    background-color: #0860F2;
}

form input[type="submit"]:disabled {
    background-color: #525252;
}

input[type="text"],
textarea {
    user-select: text;
}


select,
option {
    appearance: none;

    border: none;
    border-radius: 5px;

    font-size: 15px;

    padding: 3px 5px;
}

button {
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td:first-child,
th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child,
th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

td,
th {
    padding: 5px;
}

td:hover,
button:hover,
button:hover *,
input[type="checkbox"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
select:hover {
    cursor: pointer;
}

[type="submit"]:not([disabled]) {
    background-color: #0860F2;
}

button.primary {
    background-color: #0860F2;
}

.toggle-switch .slider {
    background-color: #525252;
}

.toggle-switch .slider::before {
    background-color: white;
}

.toggle-switch input:disabled+.slider {
    background-color: #404040;
}

.toggle-switch input:disabled+.slider::before {
    background-color: #C0C0C0;
}

.toggle-switch input:checked+.slider {
    background-color: #0860F2;
}

.toggle-switch input:focus+.slider {
    box-shadow: 0 0 1px #0860F2;
}

.tooltip {
    background-color: #404040;
}

.profiles {
    background-color: #373737;
}

.side-bar li:hover {
    background-color: #525252;
}

.side-bar li.selected {
    background-color: #525252;
}

.option {
    background-color: #323232;
}

#cpu-cores-table tr:hover {
    background-color: #606060;
}

#cpu-cores-table tr.selected {
    background-color: #0860F2;
}

#cpu-cores-table tr:hover.selected {
    background-color: #0862f2b4;
}

#cpu-cores-table tr.selected-secondary {
    background-color: #373737;
}