html {
    overflow: hidden;
}

html,
body,
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

.top-bar {
    position: static;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;

    background-color: #373737;
    border-bottom: black solid 1px;
}

.profiles-selector ul {
    display: flex;
    justify-content: space-around;

    width: 100%;

    margin: 0;
}

.profiles-selector li {
    margin: 0 20px;
}

.profiles-selector ul button {
    max-width: 220px;
    height: 30px;

    font-size: 15px;

    overflow: hidden;
    text-overflow: ellipsis;

    transition: all 100ms ease-in-out;
}

.profiles-selector button:hover {
    background-color: #707070;
    cursor: pointer;
}

.profiles-selector button.active {
    background-color: #B4B4B4;
    color: black;
}

.profiles-selector button.temporary-override {
    background-color: #0860F2;
    color: white;
}

.side-bar {
    overflow: auto;

    width: 200px;

    background-color: #323232;

    padding-left: 15px;
    padding-right: 20px;
}

.side-bar ul {
    flex-direction: column;
}

.side-bar button {
    font-size: 17px;

    background-color: transparent;
}

.side-bar li {
    margin-top: 10px;
    border-radius: 7px;
    padding: 5px;
}

.side-bar li:hover {
    cursor: pointer;
}

.settings-group {
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    /* height:100% does show overvlow scroll and static/sticky items do not work, so need to resort to this */
    height: -webkit-fill-available;

    padding: 25px;
}

.option-group {
    margin-bottom: 15px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;

    padding: 12px;
    margin-bottom: 5px;
}

/* Label + toggle groups */
.option div:first-child {
    display: flex;
    align-items: center;
}

/* Label + toggle groups */
.option div:first-child * {
    margin-right: 10px;
}

.confirm-buttons {
    position: sticky;
    width: 100%;
    bottom: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.confirm-buttons input,
.confirm-buttons button {
    margin: 0;
    width: 200px;
    height: 35px;
    font-size: 15px;
}

.confirm-buttons button .spinner {
    position: absolute;
}

#cpu-form {
    display: flex;
    flex-direction: column;
}

#cpu-form label {
    width: 300px;
}

#cpu-form select {
    width: 170px;
}

#cpu-cores-table tr {
    border-radius: 15px;
    padding: 5px;
}

#settings-form table button {
    font-size: 14px;
}