[Desktop Entry]
Name=Power Options Webview
Comment=Webivew Frontend for the Power Options daemon
Exec=power-options-webview
Icon=power-options-webview
Terminal=false
Type=Application
Categories=Utility;Settings;